<div th:remove="tag" id="divAtomicCondition" th:fragment="newAtomicCondition" xmlns:th="http://www.thymeleaf.org">
	<script th:inline="javascript">
		policy=/*[[${policy}]]*/;
	 </script>
	<table>
   		<tr>
   			<td>
				<label>Condition Name:</label>
			</td>
			<td>
				<input type="text" th:field="${policy.atomicCondition.name}" />
			</td>
			<td>
				<label>Condition Code:</label>
			</td>
			<td>
				<input type="text" th:field="${policy.atomicCondition.code}" />
			</td>
		</tr>
	</table>
	<table border="1">
   		<tr >
   			<td>Condition Left </td>
   			<td>Condition Operator </td>
   			<td>Condition Right</td>
   		</tr>
   		<tr>
   			<td>
				<input type="radio" id="radioConditionLeftVariable" value="Variable" name="radioConditionGroupLeft"/>Variable 
				<input type="radio" name="radioConditionGroupLeft" onclick="document.all.item('divConditionLeftValue').style.display='block';document.all.item('divConditionLeftVariable').innerHTML='';"/>Value 	
				<div id="divConditionLeftValue" style="display:none;">
					<input type="radio" id="radioConditionLeftConstantValue" value="Constant" name="radioConditionGroupLeftValue"/>Constant 
					<input type="radio" id="radioConditionLeftEnumerationValue" value="Enumeration" name="radioConditionGroupLeftValue"/>Enumeration 
					<input type="radio" id="radioConditionLeftFunctionValue" value="Function" name="radioConditionGroupLeftValue"/>Function
				</div>
				<div id="divConditionLeftVariable"></div>
				<div id="divConditionLeftConstValue"></div>
				<div id="divConditionLeftEnumValue"></div>
				<div id="divConditionLeftFunctionValue"></div>
           	</td>
       		<td>
       			<div  id="divConditionOperator" >
				</div> 
       		</td>
           	<td>
				<input type="radio" id="radioConditionRightVariable" value="Variable"  name="radioConditionGroupRight"/>Variable 
				<input type="radio" name="radioConditionGroupRight" onclick="document.all.item('divConditionRightValue').style.display='block';document.all.item('divConditionRightVariable').innerHTML='';"/>Value 	
				<div id="divConditionRightValue" style="display:none;">
					<input type="radio" id="radioConditionRightConstantValue" value="Constant" name="radioConditionGroupRightValue"/>Constant 
					<input type="radio" id="radioConditionRightEnumerationValue" value="Enumeration" name="radioConditionGroupRightValue"/>Enumeration 
					<input type="radio" id="radioConditionRightFunctionValue" value="Function" name="radioConditionGroupRightValue"/>Function
				</div>
				<div id="divConditionRightVariable"></div>
				<div id="divConditionRightConstValue"></div>
				<div id="divConditionRightEnumValue"></div>
				<div id="divConditionRightFunctionValue"></div>
   			</td>
   		</tr>		
	</table>
</div> 

<!-- left -->
<div th:remove="tag" id="divConditionLeftVariable" th:fragment="newConditionLeftVariable" xmlns:th="http://www.thymeleaf.org">
	<div th:replace="policy/variable::VariableContent('policy.atomicCondition.statement.leftVariable')"></div>
	<script th:inline="javascript">
		policy=/*[[${policy}]]*/;
	 </script>	
</div>
<div th:remove="tag" id="divConditionLeftConstValue" th:fragment="newConditionLeftConstValue" xmlns:th="http://www.thymeleaf.org">
	<div th:replace="policy/constValue::ConstValueContent('policy.atomicCondition.statement.leftConstValue')"></div>
	<script th:inline="javascript">
		policy=/*[[${policy}]]*/;
	 </script>
</div>
<div th:remove="tag" id="divConditionLeftEnumValue" th:fragment="newConditionLeftEnumValue" xmlns:th="http://www.thymeleaf.org">
	<div th:replace="policy/enumValue::EnumValueContent('policy.atomicCondition.statement.leftEnumValue')"></div>
	<script th:inline="javascript">
		policy=/*[[${policy}]]*/;
	 </script>
</div>
<div th:remove="tag" id="divConditionLeftFunctionValue" th:fragment="newConditionLeftFunctionValue" xmlns:th="http://www.thymeleaf.org">
	<div th:replace="policy/functionValue::FunctionValueContent('policy.atomicCondition.statement.leftFunctionValue')"></div>
	<script th:inline="javascript">
		policy=/*[[${policy}]]*/;
	 </script>
</div>

<!-- right-->
<div th:remove="tag" id="divConditionRightVariable" th:fragment="newConditionRightVariable" xmlns:th="http://www.thymeleaf.org">
	<div th:replace="policy/variable::VariableContent('policy.atomicCondition.statement.rightVariable')"></div>
	<script th:inline="javascript">
		policy=/*[[${policy}]]*/;
	 </script>
</div>
<div th:remove="tag" id="divConditionRightConstValue" th:fragment="newConditionRightConstValue" xmlns:th="http://www.thymeleaf.org">
	<div th:replace="policy/constValue::ConstValueContent('policy.atomicCondition.statement.rightConstValue')"></div>
	<script th:inline="javascript">
		policy=/*[[${policy}]]*/;
	 </script>
</div>
<div th:remove="tag" id="divConditionRightEnumValue" th:fragment="newConditionRightEnumValue" xmlns:th="http://www.thymeleaf.org">
	<div th:replace="policy/enumValue::EnumValueContent('policy.atomicCondition.statement.rightEnumValue')"></div>
	<script th:inline="javascript">
		policy=/*[[${policy}]]*/;
	 </script>
</div>
<div th:remove="tag" id="divConditionRightFunctionValue" th:fragment="newConditionRightFunctionValue" xmlns:th="http://www.thymeleaf.org">
	<div th:replace="policy/functionValue::FunctionValueContent('policy.atomicCondition.statement.rightFunctionValue')"></div>
	<script th:inline="javascript">
		policy=/*[[${policy}]]*/;
	 </script>
</div>