<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Policy management</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/js/jquery-3.1.1.min.js"></script>
	<script src="/js/policy.js" type="text/javascript"></script>
	<script type="text/javascript" src="/js/json2.js"></script> 
</head>
<body>
<h1>Create Policy</h1>
 <form action="#" th:action="@{/policy/createAtomicPolicy}" th:object="${policy}" method="POST">
	<script th:inline="javascript">
		var policy = /*[[${policy}]]*/;
	</script>
	<table>
		<tr>
			<td>Policy Name</td>
			<td><input type="text" th:field ="*{name}" /></td>
			<td>Policy Code</td>
			<td><input type="text" th:field="*{code}" /></td>
		</tr>
	</table>
	<button type="button" id="btnAddAtomicCondition" value="Add Condition">add Atomic Condition</button>
	<div id="divAtomicCondition"></div>
	<button type="button" id="btnAddAtomicAction" value="Add Action">Add Atomic Action</button>	
	<div id="divAtomicAction"></div>
    <div class="span14">
      <button type="submit" text="save">save</button>
	</div>
</form>
</body>
</html>