<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Policy management</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Create Policy</h1>
 <form action="#" th:action="@{/policy/addComposite}" th:object="${CompositePolicy}" method="POST">
	<div th:replace = "::compositePolicyTree(${CompositePolicy})"></div>
		 <div th:fragment="compositePolicyTree(policy)" th:remove="tag">
            <ul>
                <li>
                	<span th:text="${policy.name}" th:onclick="document.all.item('atomicPolicyArea').href='policy/createAtomicPolicy.html?policy="+"${policy}></span>
                </li>
                <div th:if="null!=${policy.childPolicies}">
	                <li th:each="child : ${policy.childPolicies}" >
	                    <span th:text="${child.name}" th:onclick=th:onclick="document.all.item('atomicPolicyArea').href='policy/createAtomicPolicy.html?policy="+"${child}>Policy 1</span>
	                    <div th:with="policy = ${child}"
	                           th:include=":: compositePolicyTree" th:remove="tag" />
	                </li>
	             </div>
            </ul>
        </div>	
</form>
<iframe id="atomicPolicyArea"></iframe>
</body>
</html>