<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Policy management</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Create Policy</h1>
 <form action="#" th:action="@{/policy/addComposite}" th:object="${CompositePolicy}" method="POST">
	<table>
		<tr>
			<td>Policy Name</td>
			<td><input type="text" th:field="${atomicPolicy.name}"></td>
		</tr>
		<tr>	
			<td>Policy Code</td>
			<td><input type="text" th:field="${atomicPolicy.code}"></td>
		</tr>
		<tr>
			<td>Children</td>
			<td><div th:replace="::childPolicyBody(*${childPolicies)">...</div></td>
		</tr>		
	</table>
	
    <div>
       <p>
           <input type="button" value="create">
       </p>
	</div>
	
	<div th:fragment="childPolicyBody(${childPolicies})">
		<table>
		<tr th:each="child rowStat : ${childPolicies}">
			<td>Policy Name</td>
			<td th:text="${child.name}">policy name</td>
			<td>Policy Code</td>
			<td th:text="${child.code}">policy code</td>
			<div th:if="${!child.isComposite}">
				<td>condition</td>
				<td th:text="${child.condition.statement}">policy condition</td>
				<td>action</td>
				<td th:text="${child.action.statement}">policy action</td>
			</div>
			<div th:if="${child.isComposite}">
				<td>
					<div th:if="${child.isComposite} th:replace="::childPolicyBody(${child.childPolicies)">...</div>
				</td>
			</div>
		</tr>
	</table>
	</div>
</form>
</body>
</html>