<div th:remove="tag" id="divAtomicCondition" th:fragment="newAtomicCondition" xmlns:th="http://www.thymeleaf.org">
	<script th:inline="javascript">
		var condition=/*[[${condition}]]*/;
	 </script>
	<p>Condition</p>
	<table>
   		<tr>
   			<td>
				<label>Condition Name:</label>
			</td>
			<td>
				<input type="text" th:field="${condition.name}" />
			</td>
		</tr>
		<tr>
			<td>
				<label>Condition Code:</label>
			</td>
			<td>
				<input type="text" th:field="${condition.code}" />
			</td>
		</tr>
	</table>
	<table border="1">
   		<tr >
   			<td> Left </td>
   			<td> Operator </td>
   			<td> Right</td>
   		</tr>
   		<tr>
   			<td>
				<input type="radio" id="radioVariableLeftType" value="Variable" name="radioLeftType" />Variable 
				<input type="radio" value="Value" name="radioLeftType" onclick="document.all.item('divValueLeft').style.display='block';document.all.item('divLeftVariable').innerHTML='';"/>Value 	
				<div id="divValueLeft" style="display:none;">
					<input type="radio" id="radioConstantValueLeftType" value="Constant" name="radioLeftValueType" />Constant 
					<input type="radio" id="radioEnumerationValueLeftType" value="Enumeration" name="radioLeftValueType"/>Enumeration 
					<input type="radio" id="radioFunctionValueLeftType" value="Function" name="radioLeftValueType"/>Function
				</div>
				<div id="divLeftVariable"></div>
				<div id="divLeftConstValue"></div>
				<div id="divLeftEnumValue"></div>
				<div id="divLeftFunctionValue"></div>
           	</td>
       		<td>
       			<div  id="divConditionOperator" >
				</div> 
       		</td>
           	<td>
				<input type="radio" id="radioVariableRightType" value="Variable" name="radioRightType" />Variable 
				<input type="radio" value="Value" name="radioRightType" onclick="document.all.item('divValueRight').style.display='block';"/>Value 	
				<div id="divValueRight" style="display:none;">
					<input type="radio" id="radioConstantValueRightType" value="Constant" name="radioRightValueType"  checked="true" />Constant 
					<input type="radio" id="radioEnumerationValueRightType" value="Enumeration" name="radioRightValueType"/>Enumeration 
					<input type="radio" id="radioFunctionValueRightType" value="Function" name="radioRightValueType"/>Function
				</div> 
				<div id="divConditionRight"></div>
   			</td>
   		</tr>		
	</table>
</div> 

<!-- left -->
<div th:remove="tag" id="divLeftVariable" th:fragment="newLeftVariable" xmlns:th="http://www.thymeleaf.org">
	<div th:replace="policy/variable::VariableContent('leftVariable')"></div>
</div>
<div th:remove="tag" id="divLeftConstValue" th:fragment="newLeftConstValue" xmlns:th="http://www.thymeleaf.org">
	<div th:replace="policy/constValue::ConstValueContent('leftConstValue')"></div>
</div>
<div th:remove="tag" id="divLeftEnumValue" th:fragment="newLeftEnumValue" xmlns:th="http://www.thymeleaf.org">
	<div th:replace="policy/enumValue::EnumValueContent('leftEnumValue')"></div>
</div>
<div th:remove="tag" id="divLeftFunctionValue" th:fragment="newLeftFunctionValue" xmlns:th="http://www.thymeleaf.org">
	<div th:replace="policy/functionValue::FunctionValueContent('leftFunctionValue')"></div>
</div>
