<div th:remove="tag" th:fragment="FunctionValueContent(functionValue)" xmlns:th="http://www.thymeleaf.org">
	<table>
		<tr>
			<td>
				<label>Value Name:</label>
			</td>
			<td >
				<input type="text" th:field="*{__${functionValue}__.name}"/>
			</td>
		</tr>
		<tr>
			<td>
				<label>Value Code:</label>
			</td>
			<td>
				<input type="text" th:field="*{__${functionValue}__.code}"/>	
			</td>
		</tr>
		<tr>
			<td>
				<label>Function:</label>
			</td>			
			<td>			
				<input type="text" th:field="*{__${functionValue}__.functionId}" />
			</td>
			<td>			
				<button type="button" id="btnSelectFunction" value="Select Function">Select Function</button>				
			</td>	
		</tr>
	</table>
	<table>
		<tr>
			<th>Parameter name</th>
			<th>Parameter code</th>
			<th>Parameter value</th>
		</tr>
		<tr th:if="${null!=parameter}" th:each="parameter,count : *{__${functionValue}__.parameters}">
			<td th:text="${parameter.name}">parameter name</td>
			<td th:text="${parameter.code}">parameter code</td>
			<td><input type="text" th:field="${parameter.parameterValue}" /></td>
		</tr>
	</table>
</div>        	